[Global]
ReverseFilter = off     # Reverse the `get connections/get log` filter
SortReverse = off       # Reverse `get connections` sorting
ChainParser = on        # Chain parser for `get connections` column 11
SortBy = 4              # Sort by which column for `get connections`
ReverseMouse = off      # Reverse mouse scrolling
RefreshIntervalMS = 500 # Screen refresh intervals for `get log/nload/get connections`
logSize = 4096          # Buffer size of `get log`

[Filter]
Host = .*
Process = .*
Rules = .*
SourceIP = .*
DestinationIP = .*
Type = .*
Chains = .*
logLevel = .*
logContent = .*

[clash]
link = http://MY SUBSCRIPTION LINK
log = %HOME%/.cache/ccdb/mihomo.log
sslCert = /etc/ssl/cert.pem
sslVerify = on          # This will override DISABLE_SERVER_CERTIFICATE_VERIFICATION=true, but only for subscription links
metricPullerCommand = %HOME%/.local/bin/serverinfo.sh
# the above command should output info in JSON in the format of:
# { "total_uploaded": NUM, "total_downloaded": NUM, "quota": NUM, "expire_unix_timestamp": NUM }
# total_uploaded, total_downloaded, quota are all bytes (and obviously, as numbers)
# expire_unix_timestamp is your server's expiration date, if it has one, in seconds since 1970-01-01:00:00:00, again, as a number
# e.g.: { "total_uploaded": 126164664320, "total_downloaded": 126164664320, "quota": 1073741824000, "expire_unix_timestamp": 1781884800 }
metricPullerCommandTimeOut = 120000 # Time out for either clash link puller, or your custom command, in ms

[ColorScheme]
# offset span will be supplied to $1 as `{ "offset": double, "precision": double }`, with precision being decimal precision
# script/executable must output `{ "Begin": double, "End": double, "R": double, "G": double, "B": double }`
# if offset == -1, or out of bound, R/G/B=0, Begin and End should be a static span.
# offset slides in the span, and the scheme tool should provide corresponding RGB for the specific offset
Scheme1 = %HOME%/.config/ccdb/scheme1.sh
Scheme2 = %HOME%/.config/ccdb/scheme2.sh
MonoColor = ``` # CCDB allows you to embed color scheme inside the config file. This can be done by exporting existing cache
# from the `exportColorScheme` command. The encoding is a base-94 string.
# Do be aware that color scheme cache is very sensitive to the specific implementation of floating points in the FPU.
# This means that different CPU could generate different color scheme cache from exact same color scheme commands.
# This would be useful if it's verifiable that the target FPU recognizes the floating point representation in the desired cache,
# and is too slow to generate the cache, thus serving as a replacement.
# The following cache is an example mono color (Black-white) scheme generated on Intel x86-64
----------------- START OF THE DATA STRUCTURE -----------------
DATA SET SIZE: 5912
iii1iiiIi)iAiijTj4imitimi!iak4i)itiVj|iTjTiyiFjfiijsi)iNj<k@jli
)kuj@iji0iMiJjMimkGkdjtjujUi1i(j}isjQkGjQj:jpj;igkAj[iGkCjmi)j7
i3jBiGkAj=jFk4kei;iRipi5i$ini1iDiSjgjnkci/iMj-j^i8i]j-iPjNk~k!i
akyk9kmjfj?k5ibi$i\j7i@izjYi|j@kTiEjNi;jpi}iijVkOiFi1koidikiTjG
jkj$j4ieiLjxiTiAiBjrj{ikjsimj)i'kli`iRj7j=j,kXj]kSkMj'jEj(ikiIj
Wi2iUi_iFj^i'j<i$iGjZiOiWjSk6iejzi^jOjKj}k0jxjMkUizijikk5jSj{iZ
ktk7jIi<i+iwkZkdkcjMkzkfjWjGj#i,j^jEkvjyjejIkrjLj.i&kijMkjk4ilj
-j{jvj4ibk`iqktk5kMjXizkQkBi!i:j`ifijjniojviIkKjOkYi;ifj`kzjFk2
i,i\jRiiiBj=kBjVjnjaikiBiikoiuj;k1jujMj`ilijjUjEi$ivi8iCiujliWi
vjcjPjNk3kskfiFk2i!j+jTj$jRijj"iukpj4i1kUjLkLi"jJjIkFixkEi5jni%
jukBiOjliajskejMiIjdimjlj2j`ifiakmibi#i>ilieici(i!j%i)j6jIizkRj
#j5iui)jtjSiVj~kAj4ili3iRj4kXjljbkGkSkZkciTj5j5jni^iJk#iujui3j2
i)i#i8i1iikyiIj:iiiLiqk!i@kCi3i(ksjci6jKjbj"jvjri5i6kEj^jQiWjti
:kfjYjSjIknj9jui1iXkEi$i@ihk4j2i!ibjZiJj$i4iPjWikj!iFiniVini0is
ifiaj2i>j:jijaiVjqiJk6i/i.iqjskbidi1kuiDi@i7jmkCkNj%i&i2iKi;j2i
njPi'kEi@iVj!j{ipkCjEi2jPkQjcj`jMj"i0igihkOkAjti+ioj$kXkdiZi{j!
jIk~i0jBi=kTiCjQiZkwi%jskdihj%iukTi5j`j`jWiziAiViUjsi}kpiYj$j?i
rkgjMkgj{j'i;j[j{kki5j@j5j0i4j6kDiMj(iAj;i{iZj1i5kPiBj,khiVkUkT
jukHjwkxkgiJiXiXitibi5j'iwkhiQjGkkikkEkninkykIi2j2iYjgj{j%jej#j
@jIioiMi_jvieirioiDj_jOkmjZiQkWi7iZkRjbjbk6jDi#iEj,i:jEkeirj;j*
kPkrj'j|j!jpkgiZkUjOjDipiKi<kIj%j=j>i;jLj[jAjWjqifi4idiIkRjcj,i
*ieirk9i2kvj>i2i]iekSi/j+jGi0i(i5kbkukpimiUiUjZi+kvj,jbjtjtimiT
jfi%jsi+iIkjj{i8j4igjaj7knkciMkYjiiZjjj&kakyj2i$i`j]i:kHkfiUkNk
7j&kUkAjMi\i1kBi0i]jGi3kCiXknkykiiIj/iqiWj?j*iBj-jCkxihivjgkIjn
i+kLioi(jUj(jiiyiuj:kniMi'jsjukmisjeixkWivkojMj$jFkDivi@kek4kni
NkAiEkCj>kDjkj^jwj9imj}i%k6jqidjAiXilj-jZipkQkrjej&iwjOitkfiwjn
joj4i%iujukdk0jIkZilj3iqjQihjVi)iqi$i3kGj<k#j,j[i2k#jvi*iuixjgi
iididkIkRk#j_i'kri5i0khiNj9kMjmioiEkNjOiTkQk6j%ixkPiTi9iYkXiDkd
ijj^kXkGjUkvjiixiQj%i~jwk0i0i]ihj9jVk8ifkXkJjJiQi2iUjki9iskcimi
*jOiljqkyi|i;j\k9i/jCkRi}i+iCj-iIi(iPkaknkkk!jQktiRkRi0i^iXi#iq
ici:kXj6iMiniek1k#kyj%jSiTk!j2iLi"iaiiiIkGiBi@kjkfkQimi6iliiiuj
Ki1j3iojkikiej[i>kdjMj_iAj6iLkRj2ioiykuj#k#i5j)iHiSkyi$ijkuiqj4
ivi9kEjqigkCi}i~k`iKj5idkwkFiii-j5i@iGibjCjZihi(ioi5jwjkj3inj/j
KkmiUksi1j2jLiRi\jai[iMj5iikgi}j4jNj|j6iji:kmkdjMkwj|j<iIk4k4io
isjojmjbjyj*j9imiMi!ioijk4kaiLkwjDkbkLjpiBiij#jki#i6i?j#igiuj2j
kiPjHj*iMk7i}jmjQjnj<jmiCjLkEj4ijk!j;iOiNj5i!ioiqjsj3ifkGj5kbiA
j`inibjCkMikihjeiBjRiKiij%iii!iii:k`kqkMiJiAkTkZiljAj_j6iWi|i@j
Si&jOkGjHj4iMjpkei%iEimiaiIijiei#juj2i0i!j"iWivi#i8j5iiiqijiYja
jCjTjbkXj%idj8iijpjZj)kQi=ibksifi6i]j2koiOjViriojmjckniAkiiXj!i
RkLioimi;j%imieiSkRipiCi!iAimigiMi2jYk6j[k9imi\k7j4iujsj#iBiSi}
inieiAj3kCjhiKkCjMi1j{ikiNj~irjZi>jOj4iNkyimi#igi'j2j6iGkcj2juj
*j7jqj5kokEj4jpj?j^iEjciyioi3i!kYini)kGjkjdiajUkZiVipj4injHi}j$
iHk$jVkniyiOi\i]ilj+jvixkmj*i!ifi%iripiOjoi0idjsiii6iejCj#iliIk
mi!imiJkZj)kPkCisijidjgk7ihi=iiiii~jmiKi_jskSi:jYiLinkmiliojkjZ
jCj2k6iJkNj5i%i-j`jWi;j,kRi^igickMi!imkEkniiiKi+jmj+i,j`iMixi^k
aibitj5knikjOjsi!iei9j$kAiyjWiuj$kijdkLiii~jlj9iri'i!iljRj_imi>
j1kekLilkTkbiMk0keiniij?iijZjji>ikjwjBj#i$iKkgi0jZiGj7iFjyjniYi
di0jwiij8i~j*i@ihjOj?imi9k1i}ioiwj5j2iniykrkUi-j3j)iHi#jki1iIjj
iIkaiqj}j2ibi}jMiGj<kSi)kbjniNkIj}i\j|ilimktiainipj)kFi?i0jsjli
cjGiailiNkTiqi"jukSj8iOjFkXkbimiOi!jRi^jckoj.jdj|i$iJiqi5i?j?kg
j-i(i9k6ijizkVjCjrj)i-j3iDj#j{kSi[i@i"k0iWi#i0iLjui0koiCiojCifk
uikj3j8iTj{kni@j+j[kFjbigj7ieiSj_ijiyi_jZjTi{j2i|imjhj2iliNkcii
jZkwi?i|iUkQkej4i`iejljQjhjOkoiDk$j]iZjcj$i*k3j^kginj&ilj;imirj
Gi\iniwi:j$ijj#kXiUjckSjkj9ixiIiIiVk2iMiaiyjOj$ifjlj7kpidj'iai^
jKjYkVj<isj~kMkkiij?kmixi0i\ioiEjVj3iij^kXiUiKkGiqipiVjVj?kokWj
Gk3i/kgj;iciWkij^iDkEkuioiZi!iJj9iri+kLjtixi7iSi_j!kvj8iAj|j4ib
jeiIj3iZi!i/ipkbj'k6iejqi^j:i>i(j4jliiiuijiBj`jkj4i~kXkuj2i;j7j
zigjEj_i$iJi>jsjpk2j`j(iFiwj#kbiCj+jCigjlkMiJiajTjhijiMk9jCk9ja
i~i<i%jTiij9jUkukujUi8j#ikj'kGj(j}j^kJieimiBjdiiiLj%j5j3itiMiBj
Ti=ilknj)j@iFijiJk~k0j{i6kZkoihi?kEimiXiVjligi<j2kwkgjKi7iTj-jj
jGjyiDj{j3iJktkeimi1kIijidi}j4jyiej`ifilj[j&jxjmiiiXi@ijk6i9i%i
Aj<i@j8i>i}jWjTiVj2k9j:jli7j%i*i%k6iHj<j#i*iTj}jlkri;k3j#ihiRkM
i$jcixkBksjAj.iziFjlkEj2ijkukEidi~kek7kljRjhkpjGj/iYkhj,iRjnidj
+k4j8iej7iqj8i/i%kXjtjtk9jJjokzj%j9iGj<k6igi[kRi$iNjciji_i-j>ii
ioixi)jFj&j]kUi5jkk~i3iKkfi>i$ifjKijj6i?j2j:inirj_ijjOiFkCk5j,j
Ok4iij_kRi#iyiui!iji"j7j/ioirkEi@ifjEkmkwjrj<kYiCjDj#i*ifj'kvif
i_k4ikjwilkjijkhk5j&kvk~jikWiRk1kmj3i~kii@ipjFk!i2iHj#i:jLidjjk
Mkxi{j@kbiBkijkj9iNjCi}j2iwkRikjwiqkIi@iejak4j4j}jSiaifi5iAijiX
i5j3iljNkuikjwimkbkYiejckEkzjIkzi$iDjGi!ikifiOkvibjjj2iCipiti>j
&iei<k4kVj,k!i1iBkziij3iuiTiBj7jjj2jEinitiFjBkLjzkajUjmkmj^iEj~
i)kdi8j4i1kHi:i3j&kti1j<j6ikj<jsimipjCk4ipkpj?iviLkoj2jhkIkUi^i
Gi[k4j7i0jwjkinjgkaiOiaisjkiJj'kWkEkzjaiLi0iPjWiIi@i~i'jsibi-ij
i@k1kYj>kvj}krkGjai,j*k8igkuj5imiWikjsjTkuj+i?iejojsj3kri\kwinj
oi)i0iIj*iAijiNj'ihimj-kBjlkDkUiOiSj-jzi4igiSiRk4ilkmiAj4iojwi@
jaiXiRj]jdjUj-iHiIjkifkSi}imiWiqifinkEiej#i%iojCkuj1kgiwjPj6iui
AklkuidiHiiigiljCijihk4iej#i%ipjGiiipjFj#iliUiqj0ilk6imiJj2ipi@
i!ikj#jkidiKjKiHkFiHj1iMkLjGidjZiCj1kmiliMiqiniSiAioj0kuiej#kyi
kiUjCipi~kMjIiAj_iUi1i:imjwiiibj-iqidjtkmibkFjCjCjsi4j0i@j_i}jb
jtikj,jsiljckEipjJi0ipiaiaimiHjzjDiZkLjHjhk5ilj]jsibjTi!icjMiAi
ikIkmj7ibkWj7iykcigj_kEiekukEiaj#kEiikJjCjEiIjZjEivj|jLjbkvikkL
kmiaihj|iei|i!iikKiii_kvinili'j-j9kwj;i4irkEigjAi!ifihj*idkLi}j
DjakEikiwj2iliXjbj5j0j)iHjpj2iejYkEieiJjsihiujsifj#kajcjIjsioj-
jbjQkXj*iHiWiiibjQj#iaklj|ijk3iijRjJk6i)i%jsiojEi0j4iikEibj,k4i
liKj|ioi%k4ipkOj2jdi.jajSi7k4ili#j2iij^i}icj@j|ifiWkRj6jJk4ikjb
iAj2i9iBiejNiAidjYiiigjhi}ijk1k4jPi[iyi-j)kMiSkrj%ihj<j#imj%jsi
fj<iAink2k4i?ktipi?jciijUilkFifk4i!iakAkmijkBiiiok3k4i?j<j/iui+
i8j1iqjci,i9kFimjhjsifj{iAiikmj|imk4j|i/jAjsjejAjkjSiTj2ioi3iAi
hjQi!iniJiAigkRiaj1jGi}jOi1k9ioi8kEifj(j#ipj"k4ieiCibimiujyjqji
jKiGickuibiQk4ikjxj|iakWiqigj#iuimi:jsjekSkmjqiikmiii<jsifkDj#i
lkNiqiek9i0jmi2jsigj)jsibjKj_iHi>i}idj1j|ihj~jkipjBi}igk$kZjvjW
jkigj?jkjSimi0ijkhjCigi>jCicijjkigj/iojvj)iAjwi9jtijjjkuikjskmi
ij}kuipi>i/i:kSkyj4k2iIi#j3kEicjpi0iwjDkEigjpjWjekukuibjXkmjxil
ijipi8jsipkvi}iaiai}ikkrkujjjFkfiajriiikj>jcifiwjCikk`i0idjdj2i
mkyiii_k9kuidj$jkigj3kuici3j=iHkKkuickci!idjIi}iai|jkihj#i%idkR
kuidj!kui/jxjQiCkBi0ifkCjkifk`i}ifi-jCihj}jxjcjSjajziii0ipi8i}i
jiYiAibi.j|ipkXi!jpjgiAi&k`kKjUiqili+j:jkigkCiAihj3i!jEkYiAjij_
i*jikmkNjBjMiribk6j2ijiwj#iii\k4ihkfibimiZipjjj[jujojciJj~i1iui
ijAkEioiGkuigi$jsigk~k4jPj=kKioj>jcigjWjCickmkdinkXj|ihj#iujRke
kKi>iGj=iHiJkEiei!jCimiQiqiciukEihj#iEjujNkKjHkmi%idiciiidkOj2i
ojfj#ick#iAj#jdjkjpjXj)jriCkTj`jMkFiljxiqidkeiiickAj|iek$kujXiT
iqiojBj#j!kBkfi[kmkIili$j|icicjsihjSj#iaj2kuiBkNj"jHj:jLifj|iAi
mjZjkiijyjCimj3kuiBiajbjDj(iziAkPk4idjRibikk3i0ikj4kuiBiwjsjDja
j2iljJiyj%iSiHiLi|i0ijkYk4iliyk4ibi^icimk~j>iui2kuimimiKi#kCkEi
miRj|icitj|imi4iqiaiPi\jmigjcjSkPkEimi'kEilkdkmiejfi!j)i!kuimja
jkioihi5jPk`j?jaiPkFjgi=j#ifj|kEijj{kuidi<i!iaiPj3ioiMkRj3kPjQj
-jskbiIi1k9ikioj|igi(kuigkLi}ioj8kuiBkEjziok~j>j(jMjDioi`i!iai{
j2igiOi0icj9kuiBi*i7ipj.kdj*jLiKi#jwj|iikzj|iojEjkigiUi}j^i!iii
?j*iIj$k1kSjGk3jEiGj&iqibi7j#igkHj#ihjviij[imjIj)j)icimkri2iijP
iqihk6i}ikkQjCijj5kuiBjbk5jCjli}jSkpi5i2i~iiiektiiibitjCihjekEj
{i!i}ipjQkzj1j:kNigi5kmicjjjsiijDj2ifjQj#j^jpj2ipjKkVj2jJjXj_iP
j;i4jwkEihi5iiidjkiAjHjSkuiBkhiZikjdkEj^iijCili6kmiekAk4ipjMi}i
akYjMiHj#kbjcj'kVj}kij)iHkWkEiekci}ijkgjCick!jCj|j"ioj1k#i5iaka
iiiaj!jCidiDi}injTkuiBjBj2ipkMk5j4j>k~j}i2k7ioi^i0iajBi}iej3kui
ei1idimivj2jgiSkajJkpici+kvjsifi~kEiekUiiimkJkEiaiPjtjcjAiAioi2
kgj|kcjxi&iCj2iokYj#ilkqjsicjqkuiBjei}iojni!ipj*izj{i=jmikkci0i
jj>jsigj8k4igjrj#j^iVjCj;jVjRiCk#jCiik!iAiai=i}iji^iiibiPjDilis
jCiljnkEikiwjfj<jJi%icksk4iai<jCibjVj#ifjgidimjqi4ini^j#imi^i0j
YimkEibj(i}inkwi0iijqiAibiVi_jmjBi!j[i8iWj$i1j,i4k8jkikj(i0imiF
j|ihiKi0ibiPi\jnkRjaj:iGjai]i:jDiGkkiqibkoi}ilk3jsimkTkmj"i!iij
?j4kUjujniWiAjRjsihi3iqibjgjCiojNiqibiVi_imi-iij?i$i0jvjYjkihjf
k4igkfjsick5j#j&i!kmjcjRkbi>j:jWicj0jsijjzj|ibiQjsiljwkuiBi<jsi
oiej(injIi5j"j$jYi:i)i0icj5k4ikjpj|ibjMi}kjkfiQj.jGkEiki.k4j\k0
iAihjujsihiyjkiej\jkkki;kPiki;iqini)iAj&iiiiijkZj|imj*kEiaj"iAi
djykuiBjhkuikjbi}ioj~j(kljkj2idj-j2ifiOiAimkaj2ibiPj$jFj7iyilkY
i>j[k1khiLkBkKiki_kuijkJjsieiIkEihiCieimi"i}j=i^khkjk0iJiskrjEi
=i5j|ieiaj#imj`jsibkCjRj(i,i=j/i#j_iHj0iAifkjjsihiwiiicj.j#ibiV
kTiojBjCipjsjYknjrjairjCi0ifjrk4ifkzkuijjYi!kmjHk4j1i+i3jvk9jCi
dj|k4idjDi}ifj%kukaj;i5ikk2i_j.k#iciikej|iiiAi}ijkNjCimj~kuiBi{
k8i/iVj|inisiZikkoj|ibkckuiei&k4ijj`kuiBjSkJi>jBjsjskHjMiGjPj#i
hkYkEicj'j#iji?kxiBiSj#kjkgiQjvkniqibjiiAiakTj2ibi!k4ibj%j+kkjp
i0ioi:j#klkUkEidiUkuimk4jkiaj"i0kfi!jCkli)i!injHkmkdiwj~i:i,j2i
lj&i}ipkGjCifk`iikgj9kgj6jJjCj@i9jlipjhjsibjbk4ipj(kxibimjOjpjr
k9j\iPiAidkRk4jQjMj|idj#kuiBj:k!j6icj"ipjViikni7jsihkdkqj/iWkgj
Uj-kAiLjhioilikiAifisiAinkhjkioj$j#j\i'j_jEj>kMihiykmijkvjCini}
i}iek3j{j8j,i9ipi|i=khilk6igkLi}iei`j#ipk`kuinj%kuiBi:jki;jeiHi
$i<kUjEkvjCimk5jCimj1kmiij^kuiBiGkqikirjkili{i>kBjZjKiGiukuibkU
j2igiBi0iijSjCkEi!j#j*iqjGiljFjSkoj5j'i4kZi0ikkkiiiakJiiikiyi!i
ciPjtjqi2iqj<j:i-iojWj|iciriiioiajsici9jUj|i2j|jcjUk5kFkukTjHjM
irigibj2icj/jCigj'i/kHiNkXj3iXi9jvkliiibiDj#ihisi!inknjkiciPiji
?jHkmj2j#jYkoi*jOjQi9jlifktjkigi5kuioj,kmiij=kEj"i5krj}iVkri0km
kIidjUj#ihkAi}ihkQjkibjlifimj8jekIk~j&imj4j|ilidi!inj)jCihjBj]j
0jyk~jYigjUkJiliriliRi0igj\jsilinj|ioj[iAj<ipkfiujojUkni<iYiCkm
kyimiPjkinkni!ijk1j|ijj{j#j\j)j/kjjqjUj_i2ikiojCk4ilk~iiiliTjCi
ejWifimjujCigj&kEibj$iZjvkBiiipi=iqinj[jCilickEiciZk1ioi\i'kajr
krkNjbjtiij<kEiajTjCigjDiqicj>jUjci|j`i>isjQimkIiqijjaj|imkskmi
nj}iqknikkTj\j;kuiej\iqidi_i}iiiAkuicj%i?ioiFiniliNk1kNiWkji4i&
kuinjSkEikjyj#imjoiiidiPjtilitjHilitj|j*j1k1jejbj;ibkFi,ilkyi0i
fk3iAidkrjhiljVi(i;k~khiljKi!ilkskuinj7i9idjXjPjgj~iNj"k7kji4ij
iiinjdj#ihiTj2iikBj2k4i0kSj0ilkOkdjMjlidiTi!iikhiAimi~kuilj,kui
BkeiwjNjoj*kliziAiek!j2iki&k4inkZiqk7j-iwjOkTkQj\i|jCifipkuijj~
kuiaj8i!idkjjTj(ifi&kKj6j%iHkmkEiajyj2ijijjCilkrkmk8kmjbili"j_j
Di!iTiHkmiEili#j|igjGjkihjaj|ioj.kuiBi?kQi#k6kBk4jikCi[i=j4iijV
jsihiEi!iejji}idi/ksj/iuiAilimkZkDkxk1iSkmkyioiXj|ifi]j2ifksiii
fj>kuiBj5i8ilisiqilkIj{kHkukni+k1j:i4iGjkikibj#igj#i0ilkOjCidk~
i_i;j_i7jYjBj|iej7iqikj1kmifiJj2idiVi?k7j<jbjSj%kuikjwj#ihj6iSi
fjVj0jejqj0i;j:jdifj%kEiii&j#iejOjsimj"jskSkfjyipk~i"ihi8iqiijl
jsihi!jCiij'iqkniqi0k8j:iZiki%i0idkIk4ioj@i0ioj&igimjPjUj(k~khi
bk~iAiaj;iiinj]jCioj&j#j\iGjZjDj:kYinjkiqimjIkEilj'j#inkik4j%i"
j0j_iWi[i"i1j<ifisj2ibj`k4ieihj2ick3j0jeiVjbilimi6jYj2jsijiQi0i
piKiqibiYkEidi*jMi*ivj2jFisi/ibiDj|iajyiAimjykmiek~igimk$j]jLkp
kOjginiiick5i%inkfiAijkkj#j^jdk4iojGkmkik$j{iHi$i0i^k~j#ikkij2i
fiDj1iHiyiYjRk~jfiaiYkukijckEizklkuiBjCk4khi;i0jvkokEiaisi!ioie
jkiai$iiieiPi\kli.i}kfisiJijk0i!icj7iiici7iqidiyihimkAkRjTiziSk
2k9j}iHj5iqinjkk4ifjYiiiij9iAieiPj;jUiHi8jYkUiqikk!iqiminj|iei-
i0iej9k!j%jcjwkvi9j3iiirkuidiIjziaj)iikVi!iqj5j8kXk5k0jIiGkik4i
kjUjCifj>i!ijiiiqiekejOkmj~i6j]jCiPisjhi7ibkVi}kki'jCilj+j#kWi!
i!iljei8iliTkukQi_i]jPjbiBiij6kuiejGiAimi5i}ibkaj#kZiziqiljsk9k
XjjkkkPkFjDiGk9k4igk5jQikjyk4ifjWk3kViujCilk$j]kljPi!iciti0iji!
iAiejei}iek~iVjij+i7jYkYi!igi5j2idjTi}ieiSjkiei@jfk7j'jUj_iWi6j
2k7i0icj(kEipjQiiigkojrj`iqiujOiskSibj\jCipihiAiniii}iakdkEj?kf
iTjvi\j|ijiXkmicjIiiifiMj2iejkj&j^isi-ihjck4iikRj2iejljsick5ihi
mi+jijZipj(k6i9i@ili(jkipkKjsidkRj|ikkfkEk8iij$i$j7ieiiinifikkX
jbiikei@j9ipiDiTjgkMkujljRi(i_k#iEj~jCkDiKigiIjBi_i6i;iai$j9jUi
GiqjAi%jOiIi\j%i#jxieiPj!jEjoj;i0j=jdkgjgjLkOjai@jWkoiIivj_kaj?
j$ili6khjyioi;iGiSkXisk5i^iik8i7ifibj>khiOj#j`i!jck9kEi\k8j9jSj
$iAjtiOk@j+iAj)i+iij8j~i\kMjbikigj"j+iTjok0j2j3k8k9i_j\i^knkOi,
i)jtiRi5iykZkMjOjtj|j6jWkoiJiwjkj5i'kFiFjdi|j%jlj3jTjpi_j9iLini
dj]j{iRiLiei4j}jqkpi2iEiUkkkPi|iZkNiqiniVk4jsjDi_i>itj8i2i>j5i0
i;j9kBjbkdjSiBk5j]kej<imjZjbj9jmkfjdk6i+i1jYiqjLi%kRkei@iLjBi&k
Fici.iSiSi9i]jzi1i9kEj{j#iDigimi(j@iTj\kHi9jBkCi'kZkak0injjjhj5
i;i!jZi4iNkDiEj>j3i$jbieiMkDjGjhjZiOktiMiViii*i:j)i[jni#ihi$k0i
li#imkLi%jsk8ifkukwiDj\iQiBkgiljkidiXjKjQj-iOjljVi1jsi~iNkRjsj^
jqini`j*kUizj:k!i}iliOiuk0iqkmijjci?kHjlihiBkojVkBi~kEiKi"i{i%j
)k4i9ioimi[i|i-i*jQiFj3iIk8jUiwjiiyj^ieiAi&i|j_jrk@j'j:j;j#i?jk
kFi0iLjCk#iIk9kdj@j4j+ijj9i3iNj%irkii7ijkmjaj4iQkijKj^iBi'j0i4j
:ieixkgjsjni=j^j'jokui=iDi'kYjliPiCjwi}kQi(iKjckEi1ioiLj?juj;j>
iJj3kXjEjSi=i?jdj8j8ijisj5i*i1j"igkpi1j"i!jzj&i]i`j:jqjdi%jUjPi
%i0ijiOjfiEj'jlj8kBj<j~iuiXi6kfkTi_jxk@ikik
------------------ END OF THE DATA STRUCTURE ------------------
```
DefaultColorScheme = MonoColor

[Shortcut]
KillConn = k
ShowDetail = p
Focus = f
MoveLeft = ^[[D
MoveRight = ^[[C
MoveUp = ^[[A
MoveDown = ^[[B
ToStart = ^[[H
ToEnd = ^[[F
PageUp = ^[[5~
PageDown = ^[[6~
SortBy0 = ^[OP
SortBy1 = ^[OQ
SortBy2 = ^[OR
SortBy3 = ^[OS
SortBy4 = ^[[15~
SortBy5 = ^[[17~
SortBy6 = ^[[18~
SortBy7 = ^[[19~
SortBy8 = ^[[20~
SortBy9 = ^[[21~
SortBy10 = ^[[23~
SortBy11 = ^[[24~
HighlightUP = ^[[1;5A
HighlightDown = ^[[1;5B

[Alias]

# Comments for each line of the alias will be recorded and added to readline prompt as help text

dashboard = get connections # clash dashboard
logs = get log # show logs
