[Global]
ReverseFilter = off     # Reverse the `get connections/get log` filter
SortReverse = off       # Reverse `get connections` sorting
ChainParser = on        # Chain parser for `get connections` column 11
SortBy = 4              # Sort by which column for `get connections`
ReverseMouse = off      # Reverse mouse scrolling
RefreshIntervalMS = 500 # Screen refresh intervals for `get log/nload/get connections`
logSize = 4096          # Buffer size of `get log`

[Filter]
Host = .*
Process = .*
Rules = .*
SourceIP = .*
DestinationIP = .*
Type = .*
Chains = .*
logLevel = .*
logContent = .*

[clash]
link = http://MY SUBSCRIPTION LINK
log = %HOME%/.cache/ccdb/mihomo.log
sslCert = /etc/ssl/cert.pem
sslVerify = on          # This will override DISABLE_SERVER_CERTIFICATE_VERIFICATION=true, but only for subscription links
metricPullerCommand = %HOME%/.local/bin/serverinfo.sh
# the above command should output info in JSON in the format of:
# { "total_uploaded": NUM, "total_downloaded": NUM, "quota": NUM, "expire_unix_timestamp": NUM }
# total_uploaded, total_downloaded, quota are all bytes (and obviously, as numbers)
# expire_unix_timestamp is your server's expiration date, if it has one, in seconds since 1970-01-01:00:00:00, again, as a number
# e.g.: { "total_uploaded": 126164664320, "total_downloaded": 126164664320, "quota": 1073741824000, "expire_unix_timestamp": 1781884800 }
metricPullerCommandTimeOut = 120000 # Time out for either clash link puller, or your custom command, in ms

[ColorScheme]
Scheme1 = %HOME%/.config/ccdb/scheme1.sh
Scheme2 = %HOME%/.config/ccdb/scheme2.sh

[Shortcut]
KillConn = k
ShowDetail = p
Focus = f
MoveLeft = ^[[D
MoveRight = ^[[C
MoveUp = ^[[A
MoveDown = ^[[B
ToStart = ^[[H
ToEnd = ^[[F
PageUp = ^[[5~
PageDown = ^[[6~
SortBy0 = ^[OP
SortBy1 = ^[OQ
SortBy2 = ^[OR
SortBy3 = ^[OS
SortBy4 = ^[[15~
SortBy5 = ^[[17~
SortBy6 = ^[[18~
SortBy7 = ^[[19~
SortBy8 = ^[[20~
SortBy9 = ^[[21~
SortBy10 = ^[[23~
SortBy11 = ^[[24~
HighlightUP = ^[[1;5A
HighlightDown = ^[[1;5B

[Alias]

# Comments for each line of the alias will be recorded and added to readline prompt as help text

dashboard = get connections # clash dashboard
logs = get log # show logs
